:root {
  /* Text colors */
  --main-color: #2e2f42;
  --light-txt-color: #ffffff;
  --color: #4d5ae5;
  --background: #f4f4fd;
  --premium-color: #434455;
  --portfolio-filter-btn: #e7e9fc;
}

/**
  |============================
  | RESET
  |============================
*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
/* reset class */
.list {
  list-style: none;
}

.link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
/**
  |============================
  | BASE STYLES
  |============================
*/
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

/**
  |============================
  | CONTAINER
  |============================
*/
/* SETTINGS FOR BLOCKS */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  outline-offset: -2px;
}
/* blocks section header */
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.list-address {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mail {
  margin-right: 40px;
}
.phone {
  margin-right: 0;
}
.header-logo {
  margin-right: 76px;
}
.navigation-list:not(:last-child) {
  margin-right: 40px;
}
.navigation-item {
  padding: 24px 0;
}
.address-mail-phone {
  margin-left: auto;
}
.address-link {
  margin-right: 40px;
}
.header {
  padding-top: 24px;
  border-bottom: 1px solid #e7e9fc;
}
/* blocks sections 1 */
.btn {
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
}
.hero {
  padding: 188px 0;
}
.section-hero {
  max-width: 496px;
}
/* blocks section 2 */
.advanteges {
  padding: 120px 0;
}
.advanteges-main-list {
  display: flex;
  gap: 24px;
}
.advanteges-item {
  width: calc((100% - 72px) / 4);
}
.advanteges-list {
  margin-bottom: 8px;
}
/* blocks section 3 */
.what-are-we-doing {
  padding-bottom: 120px;
}
.header-text {
  margin-bottom: 72px;
}
.we-doing-list {
  display: flex;
  gap: 24px;
}
.we-doing-list-item {
  width: calc((100% - 48px) / 3);
}
/* blocks section 4 */
.section-team {
  padding: 120px 0;
}
.section-team-header {
  margin-bottom: 72px;
}
.members-list {
  display: flex;
  gap: 24px;
}
.container-team {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.name-person {
  text-align: center;
  margin-bottom: 8px;
}
.worker {
  text-align: center;
}
.our-team-list {
  width: calc((100% - 72px) / 4);
}
/* blocks section footer */
.footer {
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.accent-footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
/**
  |============================
  | HEADER
  |============================
*/

/* lOGO HEADER */
.accent-header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color);
}
/* NAVIGATION */
.navigation {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.navigation-item:hover {
  color: #404bbf;
}
.navigation-item:focus {
  color: #404bbf;
}
.navigation-list {
  list-style: none;
}
/* ADDRESS */
.address-mail-phone {
  font-style: normal;
}
.address-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: #2e2f42;
}
/* logo footer */
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
}
.accent-footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.footer-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}

/**
  |============================
  | HERO (SECTION 1)
  |============================
*/
.hero {
  background-color: #2e2f42;
}
.section-hero {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/**
  |============================
  | COMPANY ADVANTAGES (SECTION 2)
  |============================
*/
.advanteges-list {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/**
  |============================
  | WHAT ARE WE DOING (SECTION 3)
  |============================
*/
.header-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
/**
  |============================
  | TEAM MEMBERS (SECTION 4)
  |============================
*/
.our-team-list {
  background-color: #ffffff;
}
.section-team {
  background-color: #f4f4fd;
}
.section-team-header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.name-person {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.worker {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
/**
  |============================
  | PORTFOLIO
  |============================
*/
/* Portfolio exemple work */
.text-portfolio {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.text-main-work {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--premium-color);
}
.portfolio-list {
  list-style: none;
}
/**
  |============================
  | BUTTONS FILTER
  |============================
*/
.filter-all {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color);
  background-color: var(--background);
  cursor: pointer;
}
.filter-all:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  border: 1px solid #e7e9fc;
}
.filter-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  border: 1px solid #e7e9fc;
}
.portfolio-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #e7e9fc;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #f4f4fd;
}
/* Portfolio blocks */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-all-main {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-all {
  padding: 12px 24px;
  border-radius: 4px;
}
.developments-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
}
.digital {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.text-portfolio {
  margin-bottom: 8px;
}
